@font-face {
  font-family: "gothic";
  src: url("../../assets/fonts/GothicVille.ttf");
}

@font-face {
  font-family: "bytes";
  src: url("../../assets/fonts/BYTES.ttf") format("truetype");
}
@font-face {
  font-family: "mdgothic";
  src: url("../../assets/fonts/Md_Gothic11.ttf") format("truetype");
}


/* PRODUCT CARD */

.product-card{
  background:#192322;
  border:1px solid #24312f;
  border-radius:12px;

  padding:16px;

  display:flex;
  flex-direction:column;
  justify-content:space-between;

  height:100%;

  transition:0.3s ease;
}

.product-card:hover{
  transform:translateY(-6px);
  box-shadow:0 20px 40px rgba(0,0,0,0.5);
}


/* PRODUCT IMAGE */

.product-image{
  border-radius:12px;
  overflow:hidden;
  position:relative;
}

.product-image img{
  width:100%;
  height:280px;
  object-fit:cover;
  display:block;

  transition:0.4s;
}

.product-card:hover .product-image img{
  transform:scale(1.05);
}


/* PRODUCT INFO */

.product-info{
  margin-top:16px;
  display:flex;
  flex-direction:column;
  gap:6px;
}

.product-title{
  color:#fff;
  font-size:18px;
  font-weight:100;
<<<<<<< HEAD
  font-family:"gothica",sans-serif;
=======
  font-family: "bytes",sans-serif;
  /* letter-spacing: 1px; */
>>>>>>> 99cf26d1ea7aa7fdfb513a704c59cf374717002f
}

.product-category{
  color:#9ca3af;
  font-size:14px;
  font-family: "gothic",sans-serif;
}


/* FOOTER */

.product-footer{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:20px;
}

.product-price{
  color:#fff;
  font-weight:600;
<<<<<<< HEAD
  font-size:16px;
=======
  font-family: "bytes",sans-serif;
  font-weight: 500;
>>>>>>> 99cf26d1ea7aa7fdfb513a704c59cf374717002f
}


/* CART BUTTON */

.cart-btn{
  background:none;
  border:none;
  color:#fff;
  cursor:pointer;
  transition:0.3s;
}

.cart-btn:hover{
  color:#d1d5db;
  transform:scale(1.1);
}


/* RESPONSIVE */

@media (max-width:1024px){

  .product-image img{
    height:260px;
  }

}

@media (max-width:768px){

  .product-image img{
    height:240px;
  }

  .product-title{
    font-size:17px;
  }

}

@media (max-width:480px){

  .product-image img{
    height:210px;
  }

  .product-title{
    font-size:16px;
  }

}