.hero{
background:#000;
color:#fff;
min-height:100vh;
display:flex;
flex-direction:column;
}

@font-face {
  font-family: "bytes";
  src: url("../../assets/fonts/BYTES.ttf") format("truetype");
}

.kamigami-text{
    font-family: "bytes",sans-serif;
}

/* TOP BAR */

.hero-top{
display:flex;
justify-content:space-between;
align-items:center;
padding:24px 64px;
}

/* PLAYSTORE BUTTON */

.playstore-btn{
border:1px solid #dc2626;
padding:8px 16px;
border-radius:8px;
background:transparent;
cursor:pointer;
transition:0.3s;
}

.playstore-btn:hover{
background:#dc2626;
}

.playstore-btn img{
height:28px;
}

/* SOCIAL ICONS */

.socials{
display:flex;
gap:16px;
}

.social-icon{
width:40px;
height:40px;
background:#dc2626;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
transition:0.3s;
}

.social-icon:hover{
transform:scale(1.1);
}

/* DIVIDER */

.divider{
border-top:1px solid #dc2626;
margin:0 64px;
}

/* CENTER */

.hero-center{
flex:1;
display:flex;
align-items:center;
justify-content:center;
width:100%;
padding:0 20px;
}

/* CONTAINER */

.hero-container{
width:100%;
max-width:1600px;
text-align:center;
}

/* TITLE */

.hero-title{
font-family:"Anton", sans-serif;
font-weight:900;
text-transform:uppercase;
letter-spacing:0.04em;
line-height:1;
color:#dc2626;
font-size:clamp(90px,15vw,320px);
}

/* RESPONSIVE */

@media (max-width:768px){

.hero-top{
padding:20px;
}

.divider{
margin:0 20px;
}

.social-icon{
width:34px;
height:34px;
}

.hero-title{
font-size:clamp(70px,18vw,180px);
}

}

@media (max-width:480px){

.hero-title{
font-size:clamp(60px,20vw,140px);
}

}